<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dragonist.homemory">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Main" />
        <activity android:name=".Activity.Upload.Upload" />
        <activity android:name=".Activity.Upload.Record" />
        <activity android:name=".Activity.Upload.Category" />
        <activity android:name=".Activity.Upload.Authority" />
        <activity android:name=".Activity.Mine.Setting" />
        <activity android:name=".Activity.Mine.FamilyInformation" />
        <activity android:name=".Activity.Regist1" />

        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="ee84bd27b6727bce9ed8387b" />

        <activity android:name=".Activity.Register2" />
        <activity android:name=".Activity.Videoview" />
        <activity android:name=".Activity.Search" />
        <activity android:name=".Activity.DetailArchie" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="GoldLee"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Activity.Family.FamilyGroup" />
        <activity android:name=".Activity.Mine.Notice" />
        <activity android:name=".Activity.musicactivity" />
        <activity android:name=".Activity.ArchieDetailShow" />
        <activity android:name=".Activity.MyVideoView"></activity>
    </application>

</manifest>